:root {
    --cream: #e5e1db;
    --yellow: #cfb450;
    --grey: #6b6267;
    --li-grey: #d2cfd1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.inner-container {
    padding: 0 1rem;   
    max-width: 60rem;
    margin: 0 auto;
}

header {
    background-color: var(--cream);
    margin-bottom: 3rem;
}

header > .inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[id=seach] {
    padding: 0.5rem;
    padding-left: 2.25rem;
    border-radius: 5px;
    border: var(--li-grey);
    background-image: url('../img/magnifying-glass.svg');
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center left 8px;
}

form[name=login] {
    border: 1px solid var(--li-grey);
    box-shadow: 3px 3px 5px var(--li-grey);
    padding: 1.5rem;
    border-radius: 5px;
}

label {
    display: block;
}

form > div {
    margin-bottom: 1rem;
}

input[id=email],
input[id=pw] {
    padding: 0 0.5rem;
    line-height: 1.875rem;
    width: 14.375rem;
    border: none;
    border-bottom: 1px solid var(--li-grey);
}

input[type=submit] {
    background-color: var(--yellow);
    padding: 0.25rem 0.5rem;
    border: 2px solid var(--yellow);
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #fff;
    color: var(--grey);
    cursor: pointer;
}

input[id=email]:invalid,
input[id=pw]:invalid {
    outline: 2px solid rgb(235, 38, 4);
}

input[id=email]:valid,
input[id=pw]:valid {
    outline: 2px solid rgb(25, 180, 72);
}